#center-content {
    justify-content: center;
    align-items: center;
    height: 80vh; 
    padding-top: 10vh;
    min-width: 85%;
    padding-left: 7%;
    padding-right: 7%;
}

#bottom_pad {
    padding-bottom: 10vh;
}

#toc {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid;
    border-radius: 4px;
}
#toc ul {
    list-style-type: none;
    padding-left: 0;
}
#toc ul li {
    margin-bottom: 5px;
}
#toc a {
    text-decoration: none;
}
#toc a:hover {
    text-decoration: underline;
}

#crafter-sections {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}

#crafts {
    position: relative;
    padding: 0vh 3%; 
    min-width: 40%;
    min-height: 160px; 
    margin: 8px; 

}

#crafts p{
    padding: 0vh 5%; 
    font-size: 14;
}

#crafts li{
    padding: 0vh 10%; 
}

#icons {
    max-width: 32px;
    max-height: 32px;
    vertical-align: middle;
    padding-left: 1%;
}

input {
    vertical-align: middle;
}

.dropdown-content {
    display: none;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid;
    border-radius: 4px;
}
.dropdown-header {
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid;
    border-radius: 4px;
}