.main_landing {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
    padding-bottom: 5%;
}

#covers {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#covers div {
    margin: 10px;
}

#covers a {
    text-decoration: none;
}

#covers h1 {
    text-align: center;
    color: white;
    font-size: 40px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px  1px 0 #000, 1px  1px 0 #000;
}

#job_leveling_cover {
    background-image: url("../images/job_leveling_cover.png");
    max-height: 500px;
    min-height: 500px;
    max-width: 300px;
    min-width: 300px;
    background-position: center;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#crafter_leveling_cover {
    background-image: url("../images/crafter-leveling-cover.png");
    max-height: 500px;
    min-height: 500px;
    max-width: 300px;
    min-width: 300px;
    background-position: center;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#tank_cover {
    background-image: url("../images/tank_pull_cover.png");
    max-height: 500px;
    min-height: 500px;
    max-width: 300px;
    min-width: 300px;
    background-position: center;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}