{% extends "base.html" %}

{% block content %}

<div id="center-content">

    <div id="toc">
        <h2>Table of Contents</h2>
        <ul>
            <li><a href="#leveling_intro">Introduction </a></li>
            <li><a href="#leveling_videos">Videos </a></li>
            <li><a href="#leveling_gear">Gear </a></li>
            <li><a href="#leveling_tips">Tips </a></li>
            <li><a href="#leveling_rotation">Rotation </a></li>
        </ul>
    </div>

    <div id="leveling_intro">
        <h1>Introduction</h1>
        <p>This guide is intended to help you level your Astrologian, while suggesting and developing early habits. </p>
        <p>This guide is not intended to be a complete guide on how to heal in dungeons/trials/raids or any other content.</p>
        <p>This guide is to give some stategies and help develop a mindset of how healing works in FFXIV. </p>
    </div>
    <div id="leveling_videos">
        <h1>Videos</h1>
        <p>This part of the guide is videos from creators that I highly reccomend watching that can also help with learning and leveling your job!</p>
        <iframe class="video-iframe" id="video-iframe" width="560" height="315"
                src="https://www.youtube.com/embed/7n-VKY3wGm0"
                frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
        </iframe>
        <iframe class="video-iframe" id="video-iframe" width="560" height="315"
            src="https://www.youtube.com/embed/fWqqdnn5g1s"
            frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>
    </div>
    <div id="leveling_gear">
        <h1>Gear</h1>
        <p>Gear is very important for healers to ensure that you are doing enough healing and enough damage each pull.
            Please make an effort to ensure that your gear is realatively close to your currently level.
            It is ok for it to be a few levels lower than what you are currently at,but once you start doing content with gear that is more than 10 levels lower than your current gear, 
            it will start to get very difficult.</p>
        
    </div>
    <div id="leveling_tips">

    </div>
    <div id="leveling_rotation">

    </div>
    <div id="bottom_pad"></div>
</div>

{% endblock %}