{% extends "base.html" %}

{% block content %}

<div id="toc">
    <h2>Table of Contents</h2>
    <ul>
        <li><a href="#leveling_intro">Introduction </a></li>
        <li><a href="#leveling_videos">Videos </a></li>
        <li><a href="#leveling_gear">Gear </a></li>
        <li><a href="#leveling_tips">Tips </a></li>
        <li><a href="#leveling_rotation">Rotation </a></li>
    </ul>
</div>

<div id="center-content">
    <div id="leveling_intro">
        <h1>Introduction</h1>
        <div id="leveling_txt">
            <p>This guide is intended to help you level your Astrologian, while suggesting and developing early habits. </p>
            <p>This guide is not intended to be a complete guide on how to heal in dungeons/trials/raids or any other content.</p>
            <p>This guide is to give some stategies and help develop a mindset of how healing works in FFXIV. </p>
        </div>
    </div>
    <div id="leveling_videos">
        <h1>Videos</h1>
        <div id="leveling_txt">
            <p>This part of the guide is videos from creators that I highly reccomend watching that can also help with learning and leveling your job!</p>
        </div>
            <iframe class="video-iframe" id="video-iframe" width="560" height="315"
                    src="https://www.youtube.com/embed/7n-VKY3wGm0"
                    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            </iframe>
            <iframe class="video-iframe" id="video-iframe" width="560" height="315"
                src="https://www.youtube.com/embed/fWqqdnn5g1s"
                frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            </iframe>
    </div>
    <div id="leveling_gear">
        <h1>Gear</h1>
        <div id="leveling_txt">
            <p>Gear is very important for healers to ensure that you are doing enough healing and enough damage each pull.
                Please make an effort to ensure that your gear is realatively close to your currently level.
                It is ok for it to be a few levels lower than what you are currently at,but once you start doing content with gear that is more than 10 levels lower than your current gear, 
                it will start to get very difficult.</p>
            <p>If you are leveling this job fresh through the MSQ (Main Scenaio Quest), you will be rewarded with gear and coffers that will give you better gear for that this job.</p>
            <p>If you are not leveling this job fresh through MSQ (Main Scenaio Quest), then you will get gear other ways. Some of these ways include buying gear from merchants for Gil,
                buying gear from the Market Board for Gil, or using Tomestones and Poetics that you get from running roulettes.</p>
            <p>You can exchange Tomestones for gear every 10 levels starting at level 50.</p>
            <ul>
                <li><p><b>Level 50:</b> Augmented Ironworks gear (Item Level 130) can be purchased from <b>Auriana in Mor Dhona (X:23, Y:7)</b> 
                    or from any of Rowena's Representatives in Ul'dah - Steps of Nald (X:9, Y:8), New Gridania (X:12, Y:12), or Limsa Lominsa Lower Decks (X:9, Y:11)</p></li>
                <li><p><b>Level 60:</b> Augmented Shire gear (Item Level 270) can be purchased from <b>Hismena in Idyllshire (X:6, Y:5)</b> 
                    or from Rowena's Representative in Ishgard - Foundation (X:11, Y:12).</p></li>
                <li><p><b>Level 70:</b> Augmented Scaevan gear (Item Level 400) can be purchased from <b>Enna in Rhalgr's Reach (X:13.8, Y:11.8).</b></p></li>
                <li><p><b>Level 80:</b> Augmented Cryptlurker gear (Item Level 530) can be purchased from Aymark in Eulmore (X:10, Y:12) or <b>Mowen's Merchant in The Crystarium (X:10, Y:12).</b></p></li>
                <li><p><b>Level 90:</b> Augmented Credendum gear (Item Level 660) can be purchased from Cihanti in Radz-at-Han (X:11, Y:10) or the <b>Agora Merchant in Sharlayan (X:12, Y:11).</b></p></li>
                <li><p><b>Level 100</b>: Neo Kingdom (Item Level 700) can be purchased from <b>Zircon in Solution Nine (X:8.6 Y:13.5)</b></p></li>
            </ul> 
        </div>
    </div>
    <div id="leveling_tips">
        <h1>Tips</h1>
        <div id="leveling_txt">
            <p>A quick reminder, Astrologian starts at level 30 but you can and will be sometimes synced down to level 15</p>
            <p><b>Do your Job Quest!</b> Job quest are really important and you need to make sure that you are doing them so you unlock your new spells/abilities.
                You should have Job Quest at level 40,45,50,54,58, and 60.</p>
            <p>As a healer, you are the support of the party, but that does not mean you shouldnt be doing damage. <b>Always be casting!</b> This is a common phrase you will always hear.
                If you are not having to cast a heal you should be casting damage spells/abilities.</p>
            <p>Make sure to use your <b>Lucid Dreaming</b> ability. This ability will allow you to maintain your MP. It can be used as early as 80-85% MP without over-capping as long as you
                are continuing to cast</p>
            <p>Dont forget your ability <b>Lightspeed</b>, it is used to maintain GCD uptime when you have to move and it can also help speed up and hard-cast.</p>
            <p>Make sure you are wating the party to see when people need healing and to be buffed and have debuffs removed. To remove a debuff use <b>Ensuna</b></p>
            <p>If do not have <b>Swiftcast</b> then make sure to use <b>Ascend</b></p>
            <p>Make sure to use <b>Swiftcast</b> to bypass the long cast time of reviving someone. If Swiftcast is unavailable, it is still almost always worth hard casting the spell to 
                raise them as soon as you have the chance. The only time it is better to wait for Swiftcast is if its remaining cooldown is less than about 10 seconds</p>
        </div>
    </div>
    <div id="leveling_rotation">
        <div id="leveling_txt">
            <h1>Rotation/Ability Tips</h1>
            <h3>Card and Gauge Managment</h3>
                <ul>
                    <li><p>Use <b>Astral Draw</b> and <b>Umbral Draw</b> when they are available to acquire cards and restore your MP.</p></li>
                    <li><p>Use <b>Play I</b>, <b>Play II</b>, and <b>Play III</b> to provide your allies with damage buffs, defensive buffs, and healing/shielding, respectively.</p></li>
                    <li><p><b>The Balance</b> increases the damage dealt by a melee DPS or tank by 6% (or a ranged DPS or healer by 3%) for 15s.</p></li>
                    <li><p><b>The Arrow</b> increases all healing received by the target by 10% for 15s.</p></li>
                    <li><p><b>The Spire</b> provides the target with a small shield for up to 30s.</p></li>
                    <li><p><b>Lord of Crowns</b> deals significant AoE damage with no falloff to enemies within 20y of you.</p></li>
                    <li><p><b>The Spear</b> increases the damage dealt by a ranged DPS or healer by 6% (or a melee DPS or tank by 3%) for 15s.</p></li>
                    <li><p><b>The Bole</b> reduces the damage taken by the target by 10% for 15s</p></li>
                    <li><p><b>The Ewer</b> provides a powerful regen that heals for a total of 1000 potency over 15s.</p></li>
                    <li><p><b>Lady of Crows</b> instantly heals party members within 20y of you for a moderate amount.</p></li>
                </ul>
            <h3>Divination Windows</h3>
            <p>At level 50 you will get acces to the ability <b>Divination</b>. It is a general rule of thumb to save your Divination for damage buffs and oGCDs.</p>
                <ul>
                    <li><p><b>Fall Malefic</b> + <b>Lightspeed</b></p></li>
                    <li><p><b>Fall Malefic</b> + <b>Divination</b> + <b>The Balance</b></p></li>
                    <li><p><b>Fall Malefic</b> + <b>Lord of Crowns</b> + <b>Umbral Draw</b></p></li>
                    <li><p><b>Fall Malefic</b> + <b>The Spear</b> + <b>Oracle</b></p></li>
                </ul>
            <h3>Single-Target Damage</h3>
            <ul>
                <li><p>Maintain <b>Combust III</b> if it will tick for at least 12 seconds.</p></li>
                <li><p>Cast <b>Fall Malefic</b> as frequently as possible.</p></li>
                <li><p>Activate <b>Divination</b> whenever available, ideally aligning it with the group’s burst cooldowns, though this may not always be feasible in dungeons.</p></li>
                <li><p>Use <b>Oracle</b> during <b>Divination</b>.</p></li>
                <li><p>Deploy <b>Earthly Star</b> early to allow 10 seconds for full potency; it’s a major damage source.</p></li>
                <li><p>Reserve <b>Lord of Crowns</b> for use during <b>Divination</b> when possible, but prioritize hitting multiple targets over maximizing its damage under buffs.</p></li>
            </ul>
            
            <h3>Multi-Target Damage</h3>
            <p>As the tank initiates the pull, cast <b>Combust III</b> on each enemy.</p>
            <p>Apply <b>Combust III</b> based on the number of enemies and the necessary tick duration:</p>
            <ul>
                <ul>
                    <li><p>2 enemies: 12 seconds;</p></li>
                    <li><p>3 enemies: 18 seconds;</p></li>
                    <li><p>4 enemies: 24 seconds;</p></li>
                    <li><p>5 enemies: 30 seconds;</p></li>
                    <li><p>6+ enemies: Skip <b>Combust III</b>.</p></li>
                </ul>
                <li><p>Cast <b>Gravity II</b> on 3 or more targets; if fewer, use <b>Fall Malefic</b>.</p></li>
                <li><p>Use <b>Divination</b> once the tank has gathered enemies, maximizing the AoE burst. If it appears midway through a pull with many enemies below half HP, consider saving it for the next pull.</p></li>
                <li><p>Employ <b>Oracle</b> on as many targets as possible, preferably during <b>Divination</b>.</p></li>
                <li><p>Place <b>Earthly Star</b> where the tank will stop, allowing it to charge for full potency before any enemies die.</p></li>
                <li><p>Utilize <b>Lord of Crowns</b> under <b>Divination</b> before enemies start to fall.</p></li>
            </ul>
            <h3>Single-Target Healing</h3>
            <ul>
                <li><p>Use <b>The Spire</b>, <b>The Bole</b>, and <b>The Ewer</b> on the tank when they’re taking damage. </p></li>
                <li><p><b>The Arrow</b> can boost healing on the tank or another target, especially if timed with regens or shields. Note that <b>The Spire</b> does not benefit from healing buffs.</p></li>
                <li><p>Use <b>Exaltation</b> on the tank during pulls to reduce damage, but avoid overlapping it with their strongest cooldowns or invulnerability.</p></li>
                <li><p><b>Essential Dignity</b> is your go-to single-target heal. Use it freely rather than saving it for emergencies. Always keep its recharge timer active.</p></li>
                <li><p>With three charges, <b>Essential Dignity</b> allows more flexibility for emergencies while keeping the other charges in use.</p></li>
                <li><p><b>Celestial Intersection</b> is best for tank upkeep thanks to its shield and short cooldown. Use it whenever possible, but save it for non-tanks when they are vulnerable or missing health.</p></li>
                <li><p>With two charges, <b>Celestial Intersection</b> is more versatile for both tanks and non-tanks. Don’t sit on charges—use them liberally.</p></li>
            </ul>
            <h3>AoE Healing</h3>
            <p>In situations where AoE healing isn’t required (like most dungeon trash pulls), utilize these oGCDs to enhance your single-target tank healing.</p>
            <ul>
                <li><p><b>Earthly Star</b> primarily serves as a damage source in dungeons. Be mindful of its healing aspect and avoid healing teammates just before you plan to detonate it, unless they are at risk of dying.</p></li>
                <li><p><b>Collective Unconscious</b> is a channeled skill, but it's best used as a quick cast to apply its mitigation and healing effects instantly. This allows you to keep casting even while moving. It should be available for most dungeon pulls.</p></li>
                <li><p><b>Celestial Opposition</b> functions like <b>Collective Unconscious</b> but offers higher potency and a standard AoE range. It should also be ready for every trash pull.</p></li>
                <li><p><b>Lady of Crowns</b> matches <b>Helios</b> in total potency but provides instant healing, making it less powerful than <b>Celestial Opposition</b>.</p></li>
                <li><p><b>Horoscope</b> offers a quick 200-potency heal on a short cooldown. While modest, it can effectively fill gaps between other oGCDs.</p></li>
                <li><p><b>Macrocosmos</b> serves as both a DPS boost on multiple targets and a strong AoE heal, potentially providing a full heal for tanks under heavy damage.</p></li>
            </ul>
        </div>
    </div>
    <div id="leveling_txt">
        <div id="bottom_pad"></div>
    </div>
</div>
{% endblock %}