{% extends "base.html" %}

{% block content %}

{% set job_name = "Ninja" %}
{% set job_name1 = "Ninja" %}
{% set url1 = "https://www.youtube.com/embed/l06GHjyxi-c" %}
{% set url2 = "https://www.youtube.com/embed/Uby5VR-Vhuw?si=y14JSuGvONaLb8Vu" %}

{% include "job-leveling/-template.html" %}

    <h2>Job Tips</h2>
    <div id="leveling_tips">
        <ul>
            <li><p><strong>Kuani Gauge</strong> unlocks at level 45. Use <strong>Armor Crush</strong> to gain <strong>Kuani</strong> and <strong>Aeolian Edge</strong> to spend them.</p></li>
            <li><p><strong>Ninki Gauge</strong> unlocks at level 62. Utilize abilities during <strong>Mug</strong>, Dokumori, Trick Attack, and Kunai's Bane</strong> buffs, try to avvoid exceeding the gauge limit.</p></li>
            <li><p>Use <strong>Hellfrog Medium</strong> when there is 3 more enemies.</p></li>
            <li><p>Cast <strong>Meisui</strong> on cooldown.</p></li>
            <li><p>Your best way to gain <strong>Kunai</strong> is to use <strong>Armor Crush</strong>. Each use will give you 2 stacks up to 5.</p></li>
        </ul>
    </div>

    <div id="leveling_rotation">
        <h3>Single Target Priority</h3>
        <div id="leveling_txt">
            <ul>
                <li><p>Start with <strong>Suiton</strong> so you will enable the use of <strong>Kuani's Bane</strong></p></li>
                <li><p>Next use <strong>Ration</strong> and make sure to spend the reamining charges during buffs</p></li>
                <li><p>If <strong>Kassatsu</strong> is avaliale priorities using <strong>Hyosho Ranryu</strong></p></li>
                <li><p><strong>Execute Ten Chi Jin:</strong> Follow the sequence of <strong>Ten &gt; Chi &gt; Jin</strong> to perform <strong>Fuma Shuriken &gt; Raiton &gt; Suiton</strong>. This will form your standard single-target rotation.</p></li>
                <li><p><strong>Generate Kunai:</strong> Use <strong>Spinning Edge &gt; Gust Slash &gt; Armor Crush</strong> to build <strong>Kunai</strong>.</p></li>
                <li><p><strong>Damage Combo:</strong> If you have <strong>Kunai</strong> available, execute <strong>Spinning Edge &gt; Gust Slash &gt; Aeolian Edge</strong>.</p></li>
                <li><p><strong>Use Phantom Kamaitachi:</strong> Activate this within your buffs whenever possible, or when you need to reposition away from your target.</p></li>
            </ul>
        </div>
        <h3>Multi-Target Priority</h3>
        <div id="leveling_txt"> 
            <p><strong>Combo Sequence:</strong> For encounters with 3 or more targets, start with <strong>Death Blossom</strong> followed by <strong>Hakke Mujinsatsu</strong> as your main combo.</p>
            <ul>
                <li><p><strong>Katon:</strong>Use <strong>Katon</strong> while ensuring <strong>Doton</strong> is maintained over <strong>Raiton</strong> when facing 3 or more enemies.</p></li>
                <li><p><strong>Goka Mekkyaku:</strong>Prioritize using <strong>Goka Mekkyaku</strong> over <strong>Hyosho Ranryu</strong> in multi-target situations.</p></li>
                <li><p><strong>Set Up for Kunai's Bane:</strong>Utilize <strong>Huton</strong> to prepare for <strong>Kunai's Bane</strong>.</p></li>
            </ul>
        </div>
    </div>

    <div id="bottom_pad"></div>
</div>


{% endblock %}
