{% extends "base.html" %}

{% block content %}

<div id="center-content">

    <div id="toc">
        <h2>Table of Contents</h2>
        <ul>
            <li><a href="#leveling_intro">Introduction </a></li>
            <li><a href="#leveling_videos">Videos </a></li>
            <li><a href="#leveling_gear">Gear </a></li>
            <li><a href="#leveling_tips">Tips </a></li>
            <li><a href="#leveling_rotation">Rotation </a></li>
        </ul>
    </div>

    <div id="leveling_intro">

    </div>
    <div id="leveling_videos">
        
    </div>
    <div id="leveling_gear">

    </div>
    <div id="leveling_tips">

    </div>
    <div id="leveling_rotation">

    </div>

</div>

{% endblock %}

