{% extends "base.html" %}

{% block title %}FFXIV White Mage Leveling Guide | The Aeloria Codex{% endblock %}
{% block description %}A comprehensive guide for leveling White Mage in Final Fantasy XIV.{% endblock %}
{% block keywords %}FFXIV, leveling, job, guide, whm, White Mage, Final Fantasy 14{% endblock %}

{% block content %}

{% set job_name = "White Mage" %}
{% set url1 = "https://www.youtube.com/embed/IabEPTKuOwg" %}
{% set url2 = "https://www.youtube.com/embed/UMq4VPBw60E" %}

{% include "job-leveling/-template.html" %}

<div id="leveling_tips">
    <h1>General Tips for White Mage</h1>
    <div>
        <ul>
            <li><p>Keep your party alive by prioritizing healing with abilities like <strong><img src="{{ url_for('static', filename='images/job_icons/whm/Tetragrammaton_Icon.webp') }}">Tetragrammaton</strong> and <strong><img src="{{ url_for('static', filename='images/job_icons/whm/Medica_III_Icon.webp') }}">Medica III</strong>. Positioning is key to maximize AoE healing coverage.</p></li>
            <li><p>Manage your MP efficiently using <strong><img src="{{ url_for('static', filename='images/job_icons/whm/Thin_Air_Icon.webp') }}">Thin Air</strong> and <strong><img src="{{ url_for('static', filename='images/job_icons/whm/Assize_Icon.webp') }}">Assize</strong>. Keep an eye on your cooldowns to maintain sustained healing output.</p></li>
            <li><p>Utilize your damage spells like <strong><img src="{{ url_for('static', filename='images/job_icons/whm/Dia_Icon.webp') }}">Dia</strong> and <strong><img src="{{ url_for('static', filename='images/job_icons/whm/Glare_III_Icon.webp') }}">Glare III</strong> when healing isn’t immediately required to contribute to the party's overall damage output.</p></li>
            <li><p>Time your cooldowns like <strong><img src="{{ url_for('static', filename='images/job_icons/whm/Temperance_Icon.webp') }}">Temperance</strong> and <strong><img src="{{ url_for('static', filename='images/job_icons/whm/Plenary_Indulgence_Icon.webp') }}">Plenary Indulgence</strong> during heavy damage phases to mitigate damage and provide additional healing boosts.</p></li>
            <li><p>Activate <strong><img src="{{ url_for('static', filename='images/job_icons/whm/Temperance_Icon.webp') }}">Temperance</strong> during raid-wide damage phases to boost healing and reduce party damage.</p></li>
            <li><p>Use <strong><img src="{{ url_for('static', filename='images/job_icons/whm/Liturgy_of_the_Bell_Icon.webp') }}">Liturgy of the Bell</strong> in advance of unavoidable damage to maximize its healing potential over its duration.</p></li>
            <li><p>Use <strong><img src="{{ url_for('static', filename='images/job_icons/whm/Thin_Air_Icon.webp') }}">Thin Air</strong> strategically when casting MP-intensive spells like <strong><img src="{{ url_for('static', filename='images/job_icons/whm/Medica_III_Icon.webp') }}">Medica III</strong> or <strong><img src="{{ url_for('static', filename='images/job_icons/whm/Holy_III_Icon.webp') }}">Holy III</strong>.</p></li>
        </ul>
    </div>    
</div>

<div id="leveling_rotation">
    <h1>Rotation Overview</h1>
    <h3>Single Target</h3>
    <div>
        <ul>
            <li><p>Use <strong><img src="{{ url_for('static', filename='images/job_icons/whm/Glare_III_Icon.webp') }}">Glare III</strong> as your main damage-dealing spell against single targets.</p></li>
            <li><p>Apply <strong><img src="{{ url_for('static', filename='images/job_icons/whm/Dia_Icon.webp') }}">Dia</strong> to maintain DoT uptime on the enemy, refreshing it as it expires.</p></li>
            <li><p>Heal your tank or other party members with <strong><img src="{{ url_for('static', filename='images/job_icons/whm/Cure_II_Icon.webp') }}">Cure II</strong> or <strong><img src="{{ url_for('static', filename='images/job_icons/whm/Tetragrammaton_Icon.webp') }}">Tetragrammaton</strong> for burst healing.</p></li>
            <li><p>Use <strong><img src="{{ url_for('static', filename='images/job_icons/whm/Divine_Benison_Icon.webp') }}">Divine Benison</strong> preemptively to absorb incoming damage on your target.</p></li>
          </ul>
    </div>
    <h3>Multi Target</h3>
    <div>
        <ul>
            <li><p>Cast <strong><img src="{{ url_for('static', filename='images/job_icons/whm/Holy_III_Icon.webp') }}">Holy III</strong> to deal AoE damage and stun enemies for 4 seconds.</p></li>
            <li><p>Use <strong><img src="{{ url_for('static', filename='images/job_icons/whm/Assize_Icon.webp') }}">Assize</strong> for AoE damage and party-wide healing, especially during high-damage situations.</p></li>
            <li><p>Heal the party with <strong><img src="{{ url_for('static', filename='images/job_icons/whm/Medica_III_Icon.webp') }}">Medica III</strong> for sustained healing over time in multi-target fights.</p></li>
            <li><p>If multiple party members are taking heavy damage, use <strong><img src="{{ url_for('static', filename='images/job_icons/whm/Afflatus_Rapture_Icon.webp') }}">Afflatus Rapture</strong> to provide an immediate AoE heal and charge your Blood Lily.</p></li>
          </ul>
    </div>
</div>

<div id="bottom_pad"></div>
</div>

{% endblock %} 