{% extends "base.html" %}

{% block content %}

<div id="center-content">

    <div id="toc">
        <h2>Table of Contents</h2>
        <ul>
            <li><a href="#section0">Getting Started </a></li>
            <li><a href="#section1">Level 1-21 </a></li>
            <li><a href="#section2">Level 21-41 </a></li>
            <li><a href="#section3">Level 41-53 </a></li>
            <li><a href="#section4">Level 53-63 </a></li>
            <li><a href="#section5">Level 63-73 </a></li>
            <li><a href="#section6">Level 71-78 </a></li>
            <li><a href="#section7">Level 78-81 </a></li>
            <li><a href="#section8">Level 80-85 </a></li>
            <li><a href="#section9">Level 85-90 </a></li>
            <li><a href="#section10">Level 91-95 </a></li>
            <li><a href="#section11">Level 95-100 </a></li>
        </ul>
    </div>

    <h1 id="section0">Getting Started</h1>
    <p>Before getting started there are some things you can do speed up your leveling. Make sure to use food and Engineering Manuals.</p>
    <p>Another Thing this guide wont cover the class quest for each job, if youre interested in that check out <a href="crafter-class-quest.html">Crafter Class Quest</a></p>

    <h1 id="section1">Level 1-21</h1>
    <p>At the start focus on crafting items in your crafting log. This will give bonus experience for the first time craft. Also make sure to complete your class quest for crystals so you can keep crafting.</p>
    <p>At level 10 you can unlock Quick Synthesis, this will speed up crafting and is recomended this section.</p>
    <div id="crafter-sections">
        <div id="crafts">
            <div class="dropdown-header" onclick="toggleDropdown()"><h3><span id="dropdown-status">➤ </span><img src="images/carpenter-32x32.png" id="icons"> Carpenter (CRP)</h3></div>
            <div class="dropdown-content" id="dropdown-content">
                <p><input type="checkbox" id="level1-6" name="level1-6"><label for="level1-6"><u>Level 1-6:</u><b><img src="images/maple-lumber-32x32.png" id="icons"> Maple Lumber (20)</b></label></p>
                    <li><img src="images/maple-log-32x32.png" id="icons"> Maple Log (60)</li>
                <p><input type="checkbox" id="Level 6-13" name="Level 6-13"><label for="Level 6-13"><u>Level 6-13:</u><b><img src="images/ash-lumber-32x32.png" id="icons"> Ash Lumber (20)</b></label></p>
                    <li><img src="images/ash-log-32x32.png" id="icons"> Ash Log (60)</li>
                <p><input type="checkbox" id="Level 13-18" name="Level 13-18"><label for="Level 13-18"><u>Level 13-18:</u><b><img src="images/elm-lumber-32x32.png" id="icons"> Elm Lumber (40)</b></label></p>
                    <li><img src="images/elm-log-32x32.png" id="icons"> Elm Log (120)</li>
                <p><input type="checkbox" id="Level 18-21" name="Level 18-21"><label for="Level 18-21"><u>Level 18-21:</u><b><img src="images/yew-lumber-32x32.png" id="icons">  Yew Lumber (30)</b></label></p>
                    <li><img src="images/yew-log-32x32.png" id="icons"> Yew Log (90)</li>
            </div>
        </div>

        <div id="crafts">
            <div class="dropdown-header" onclick="toggleDropdown1()"><h3><span id="dropdown-status1">➤ </span><img src="images/blacksmith-32x32.png" id="icons"> Blacksmith (BSM)</h3></div>
            <div class="dropdown-content1" id="dropdown-content1">
                <p><input type="checkbox" id="level1-7" name="level1-7"><label for="level1-7"><u>Level 1-7:</u><b><img src="images/bronze-ingot-32x32.png" id="icons"> Bronze Ingot (30)</b></label></p>
                    <li><img src="images/copper-ore-32x32.png" id="icons"> Copper Ore (90)</li>
                    <li><img src="images/tin-ore-32x32.png" id="icons"> Tin Ore (30)</li>
                <p><input type="checkbox" id="level7-12" name="level7-12"><label for="level7-12"><u>Level 7-12:</u><b><img src="images/bronze-baselards-32x32.png" id="icons"> Bronze Baselards (15)</b></label></p>
                    <li><img src="images/bronze-ingot-32x32.png" id="icons"> Bronze Ingot (30)</li>
                    <li><img src="images/ash-lumber-32x32.png" id="icons"> Ash Lumber (15)</li>
                <p><input type="checkbox" id="level12-14" name="level12-14"><label for="level12-14"><u>Level 12-14:</u><b><img src="images/spiked-bronze-labrys-32x32.png" id="icons"> Spiked Bronze Labrys (15)</b></label></p>
                    <li><img src="images/bronze-ingot-32x32.png" id="icons"> Bronze Ingot (45)</li>
                    <li><img src="images/ash-lumber-32x32.png" id="icons"> Ash Lumber (15)</li>
                <p><input type="checkbox" id="level14-18" name="level14-18"><label for="level14-18"><u>Level 14-18:</u><b><img src="images/iron-ingot-32x32.png" id="icons"> Iron Ingot (30)</b></label></p>
                    <li><img src="images/iron-ore-32x32.png" id="icons"> Iron Ore (90)</li>
                <p><input type="checkbox" id="level18-21" name="level18-21"><label for="level18-21"><u>Level 18-21:</u><b><img src="images/iron-rivets-32x32.png" id="icons"> Iron Rivets (30)</b></label></p>
                    <li><img src="images/iron-ingot-32x32.png" id="icons"> Iron Ingot (30)</li>
            </div>
        </div>

        <div id="crafts">
            <div class="dropdown-header" onclick="toggleDropdown2()"><h3><span id="dropdown-status2">➤ </span><img src="images/armorer-32x32.png" id="icons"> Armorer (ARM)</h3></div>
            <div class="dropdown-content2" id="dropdown-content2">
                <p><input type="checkbox" id="level1-9" name="level1-9"><label for="level1-9"><u>Level 1-9:</u><b><img src="images/bronze-plate-32x32.png" id="icons"> Bronze Plate (30)</b></label></p>
                    <li><img src="images/bronze-ingot-32x32.png" id="icons"> Bronze Ingot (60)</li>
                <p><input type="checkbox" id="level9-13" name="level9-13"><label for="level9-13"><u>Level 9-13:</u><b><img src="images/iron-plate-32x32.png" id="icons"> Iron Plate (30)</b></label></p>
                    <li><img src="images/iron-ingot-32x32.png" id="icons"> Iron Ingot (60)</li>
                <p><input type="checkbox" id="level13-16" name="level13-16"><label for="level13-16"><u>Level 13-16:</u><b><img src="images/initiates-skillet-32x32.png" id="icons"> Initiate's Skillet (30)</b></label></p>
                    <li><img src="images/iron-plate-32x32.png" id="icons"> Iron Plate (30)</li>
                    <li><img src="images/elm-lumber-32x32.png" id="icons"> Elm Lumber (30)</li>
                <p><input type="checkbox" id="level16-20" name="level16-20"><label for="level16-20"><u>Level 16-20:</u><b><img src="images/iron-gauntlets-32x32.png" id="icons"> Iron Gauntlets (80)</b></label></p>
                    <li><img src="images/iron-plate-32x32.png" id="icons"> Iron Plate (160)</li>
                    <li><img src="images/iron-rings-32x32.png" id="icons"> Iron Rings (80)</li>
                <p><input type="checkbox" id="level20-21" name="level20-21"><label for="level20-21"><u>Level 20-21:</u><b><img src="images/heavy-iron-gauntlets-32x32.png" id="icons"> Heavy Iron Gauntlets (20)</b></label></p>
                    <li><img src="images/iron-plate-32x32.png" id="icons"> Iron Plate (60)</li>
                    <li><img src="images/iron-rings-32x32.png" id="icons"> Iron Rings (20)</li>
            </div>
        </div>
        <div id="crafts">
            <div class="dropdown-header" onclick="toggleDropdown3()"><h3><span id="dropdown-status3">➤ </span><img src="images/goldsmith-32x32.png" id="icons"> Goldsmith (GSM)</h3></div>
            <div class="dropdown-content3" id="dropdown-content3">
                <p><input type="checkbox" id="level1-4" name="level1-4"><label for="level1-4"><u>Level 1-4:</u><b><img src="images/copper-ingot-32x32.png" id="icons"> Copper Ingot (1)</b></label></p>
                    <li><img src="images/copper-ore-32x32.png" id="icons"> Copper Ore</li>
                <p><input type="checkbox" id="level4-12" name="level4-12"><label for="level4-12"><u>Level 4-12:</u><b><img src="images/ragstone-whetstone-32x32.png" id="icons"> Ragstone Whetstone (30)</b></label></p>
                    <li><img src="images/ragstone-32x32.png" id="icons"> Ragstone (60)</li>
                <p><input type="checkbox" id="level12-16" name="level12-16"><label for="level12-16"><u>Level 12-16:</u><b><img src="images/brass-ingot-32x32.png" id="icons"> Brass Ingot (30)</b></label></p>
                    <li><img src="images/copper-ore-32x32.png" id="icons"> Copper Ore (60)</li>
                    <li><img src="images/zinc-ore-32x32.png" id="icons"> Zinc Ore (30)</li>
                <p><input type="checkbox" id="level16-19" name="level16-19"><label for="level16-19"><u>Level 16-19:</u><b><img src="images/brass-rings-32x32.png" id="icons"> Brass Rings (30)</b></label></p>
                    <li><img src="images/brass-ingot-32x32.png" id="icons"> Brass Ingot (30)</li>
                <p><input type="checkbox" id="level19-21" name="level19-21"><label for="level19-21"><u>Level 19-21:</u><b><img src="images/silver-ingot-32x32.png" id="icons"> Silver Ingot (20)</b></label></p>
                    <li><img src="images/silver-ore-32x32.png" id="icons"> Silver Ore (60)</li>
            </div>            
        </div>

        <div id="crafts">
            <div class="dropdown-header" onclick="toggleDropdown4()"><h3><span id="dropdown-status4">➤ </span><img src="images/leatherworker-32x32.png" id="icons"> Leatherworker (LTW)</h3></div>
            <div class="dropdown-content4" id="dropdown-content4">
                <p><input type="checkbox" id="level1-3" name="level1-3"><label for="level1-3"><u>Level 1-3:</u><b><img src="images/leather-32x32.png" id="icons"> Leather (1)</b></label></p>
                    <li><img src="images/animal-skin-32x32.png" id="icons"> Animal Skin (3)</li>
                <p><input type="checkbox" id="level3-13" name="level3-13"><label for="level3-13"><u>Level 3-13:</u><b><img src="images/hard-leather-32x32.png" id="icons"> Hard Leather (30)</b></label></p>
                    <li><img src="images/animal-hide-32x32.png" id="icons"> Animal Hide (30)</li>
                <p><input type="checkbox" id="level13-15" name="level13-15"><label for="level13-15"><u>Level 13-15:</u><b><img src="images/fingerless-hard-leather-gloves-32x32.png" id="icons"> Fingerless Hard Leather Gloves (15)</b></label></p>
                    <li><img src="images/hard-leather-32x32.png" id="icons"> Hard Leather (30)</li>
                    <li><img src="images/iron-rivets-32x32.png" id="icons"> Iron Rivets (15)</li>
                <p><input type="checkbox" id="level15-19" name="level15-19"><label for="level15-19"><u>Level 15-19:</u><b><img src="images/aldgoat-leather-32x32.png" id="icons"> Aldgoat Leather (30)</b></label></p>
                    <li><img src="images/aldgoat-skin-32x32.png" id="icons"> Aldgoat Skin (30)</li>
                    <li><img src="images/alumen-32x32.png" id="icons"> Alumen (30)</li>
                <p><input type="checkbox" id="level19-21" name="level19-21"><label for="level19-21"><u>Level 19-21:</u><b><img src="images/goatskin-wristguards-32x32.png" id="icons"> Goatskin Wristguards (20)</b></label></p>
                    <li><img src="images/aldgoat-leather-32x32.png" id="icons"> Aldgoat Leather (20)</li>
                    <li><img src="images/beast-sinew-32x32.png" id="icons"> Beast Sinew (20)</li>
            </div>
        </div>

        <div id="crafts">
            <div class="dropdown-header" onclick="toggleDropdown5()"><h3><span id="dropdown-status5">➤ </span><img src="images/weaver-32x32.png" id="icons"> Weaver (WVR)</h3></div>
            <div class="dropdown-content5" id="dropdown-content5">
                <p><input type="checkbox" id="level1-9" name="level1-9"><label for="level1-9"><u>Level 1-9:</u><b><img src="images/undyed-hempen-cloth-32x32.png" id="icons"> Undyed Hempen Cloth (30)</b></label></p>
                    <li><img src="images/hempen-yarn-32x32.png" id="icons"> Hempen Yarn (60)</li>
                <p><input type="checkbox" id="level9-13" name="level9-13"><label for="level9-13"><u>Level 9-13:</u><b><img src="images/undyed-cotton-cloth-32x32.png" id="icons"> Undyed Cotton Cloth (30)</b></label></p>
                    <li><img src="images/cotton-yarn-32x32.png" id="icons"> Cotton Yarn (60)</li>
                <p><input type="checkbox" id="level13-18" name="level13-18"><label for="level13-18"><u>Level 13-18:</u><b><img src="images/cotton-canvas-32x32.png" id="icons"> Cotton Canvas (30)</b></label></p>
                    <li><img src="images/cotton-yarn-32x32.png" id="icons"> Cotton Yarn (60)</li>
                    <li><img src="images/hempen-yarn-32x32.png" id="icons"> Hempen Yarn (30)</li>
                    <li><img src="images/beeswax-32x32.png" id="icons"> Beeswax (30)</li>
                <p><input type="checkbox" id="level18-19" name="level18-19"><label for="level18-19"><u>Level 18-19:</u><b><img src="images/dew-thread-32x32.png" id="icons"> Dew Thread (10)</b></label></p>
                    <li><img src="images/diremite-web-32x32.png" id="icons"> Diremite Web (20)</li>
                <p><input type="checkbox" id="level19-21" name="level19-21"><label for="level19-21"><u>Level 19-21:</u><b><img src="images/undyed-velveteen-32x32.png" id="icons"> Undyed Velveteen (20)</b></label></p>
                    <li><img src="images/cotton-yarn-32x32.png" id="icons"> Cotton Yarn (20)</li>
                    <li><img src="images/dew-thread-32x32.png" id="icons"> Dew Thread (20)</li>
            </div>
        </div>

        <div id="crafts">
            <div class="dropdown-header" onclick="toggleDropdown6()"><h3><span id="dropdown-status6">➤ </span><img src="images/alchemist-32x32.png" id="icons"> Alchemist (ALC)</h3></div>
            <div class="dropdown-content6" id="dropdown-content6">
                <p><input type="checkbox" id="level1-3" name="level1-3"><label for="level1-3"><u>Level 1-3:</u><b><img src="images/distilled-water-32x32.png" id="icons"> Distilled Water (1)</b></label></p>
                    <li><img src="images/muddy-water-32x32.png" id="icons"> Muddy Water</li>
                <p><input type="checkbox" id="level3-6" name="level3-6"><label for="level3-6"><u>Level 3-6:</u><b><img src="images/rubber-32x32.png" id="icons"> Rubber (10)</b></label></p>
                    <li><img src="images/latex-32x32.png" id="icons"> Latex (10)</li>
                <p><input type="checkbox" id="level6-13" name="level6-13"><label for="level6-13"><u>Level 6-13:</u><b><img src="images/beeswax-32x32.png" id="icons"> Beeswax (30)</b></label></p>
                    <li><img src="images/beehive-chip-32x32.png" id="icons"> Beehive Chip (90)</li>
                <p><input type="checkbox" id="level13-20" name="level13-20"><label for="level13-20"><u>Level 13-20:</u><b><img src="images/firebricks-32x32.png" id="icons"> Firebricks (50)</b></label></p>
                    <li><img src="images/mudstone-32x32.png" id="icons"> Mudstone (100)</li>
                    <li><img src="images/potters-clay-32x32.png" id="icons"> Potter's Clay (50)</li>
                <p><input type="checkbox" id="level20-21" name="level20-21"><label for="level20-21"><u>Level 20-21:</u><b><img src="images/natron-32x32.png" id="icons"> Natron (10)</b></label></p>
                    <li><img src="images/rock-salt-32x32.png" id="icons"> Rock Salt (10)</li>
                    <li><img src="images/effervescent-water-32x32.png" id="icons"> Effervescent Water (10)</li>
            </div>
        </div>

        <div id="crafts">
            <div class="dropdown-header" onclick="toggleDropdown7()"><h3><span id="dropdown-status7">➤ </span><img src="images/culinarian-32x32.png" id="icons"> Culinarian (CUL)</h3></div>
            <div class="dropdown-content7" id="dropdown-content7">
                <p><input type="checkbox" id="level1-3" name="level1-3"><label for="level1-3"><u>Level 1-3:</u><b><img src="images/maple-syrup-32x32.png" id="icons"> Maple Syrup (1)</b></label></p>
                    <li><img src="images/maple-sap-32x32.png" id="icons"> Maple Sap</li>
                <p><input type="checkbox" id="level3-12" name="level3-12"><label for="level3-12"><u>Level 3-12:</u><b><img src="images/smooth-butter-32x32.png" id="icons"> Smooth Butter (30)</b></label></p>
                    <li><img src="images/buffalo-milk-32x32.png" id="icons"> Buffalo Milk (60)</li>
                <p><input type="checkbox" id="level12-16" name="level12-16"><label for="level12-16"><u>Level 12-16:</u><b><img src="images/tomato-sauce-32x32.png" id="icons"> Tomato Sauce (30)</b></label></p>
                    <li><img src="images/ruby-tomato-32x32.png" id="icons"> Ruby Tomato (30)</li>
                    <li><img src="images/wild-onion-32x32.png" id="icons"> Wild Onion (30)</li>
                    <li><img src="images/garlean-garlic-32x32.png" id="icons"> Garlean Garlic (30)</li>
                <p><input type="checkbox" id="level16-20" name="level16-20"><label for="level16-20"><u>Level 16-20:</u><b><img src="images/cider-vinegar-32x32.png" id="icons"> Cider Vinegar (50)</b></label></p>
                    <li><img src="images/faerie-apple-32x32.png" id="icons"> Faerie Apple (50)</li>
                    <li><img src="images/mineral-water-32x32.png" id="icons"> Mineral Water (50)</li>
                <p><input type="checkbox" id="level20-21" name="level20-21"><label for="level20-21"><u>Level 20-21:</u><b><img src="images/dried-plums-32x32.png" id="icons"> Dried Plums (10)</b></label></p>
                    <li><img src="images/pixie-plums-32x32.png" id="icons"> Pixie Plums (10)</li>
            </div>
        </div>
    </div>

    <h1 id="section2">Section 2</h1>
    <p>This is the content of section 2.</p>

    <h1 id="section3">Section 3</h1>
    <p>This is the content of section 3.</p>

</div>
{% endblock %}