{% extends "base.html" %}

{% block title %}The Aeloria Codex{% endblock %}
{% block description %}The Final Fantasy XIV Guide Website for all your needs.{% endblock %}
{% block keywords %}FFXIV, leveling, crafting, guide, job, tank, pulling, leves, quest, Final Fantasy 14{% endblock %}

{% block content %}

<div class="main_landing">
    <div>
        <h1> Welcome to The Aeloria Codex</h1>
        <h3> FFXIV Guides </h3>
    </div>
</div>

<div id="covers">
    <a href="job-leveling.html">
        <div id="job_leveling_cover">
            <h1>Job Leveling</h1>
        </div>
    <a href="crafter-leveling.html">
        <div id="crafter_leveling_cover">
            <h1>Crafter Leveling</h1>
        </div>
    </a>
    <a href="tank-pulling.html">
        <div id="tank_cover">
            <h1>Tank Pulling</h1>
        </div>
    </a>
</div>

{% endblock %}