{% extends "base.html"%}

{% block title %}FFXIV Job Leveling Guide | The Aeloria Codex{% endblock %}
{% block description %}A comprehensive guide for leveling jobs in Final Fantasy XIV.{% endblock %}
{% block keywords %}FFXIV, leveling, jobs, job, astro, astrologian, bard, balckmage, black, mage, daner, darkknight, dark, knight, dragoon, gunbreaker, gun, breaker, machinist, monk, ninja, paladin, picto, pictomancer, reaper, sage, red, mage, redmage, samurai, scholar, summoner, viper, warrior, white, mage, white, guide, Final Fantasy 14{% endblock %}

{% block content %}

<div id="center-content-jl">
    <div id="toc">
        <h2>Table of Contents</h2>
        <ul>
            <li><a href="#tank_leveling">Tanks</a></li>
            <li><a href="#healer_leveling">Healers</a></li>
            <li><a href="#melee_dps_leveling">Melee DPS</a></li>
            <li><a href="#physical_range_dps_leveling">Physical Range DPS</a></li>
            <li><a href="#magic_range_dps_leveling">Magic Range DPS</a></li>
        </ul>
    </div>

    <h1>Welcome to the job leveling page!</h1>
    <h2>Select any of the jobs listed bellow!</h2>


    <div id="leveling_covers">
        <div id="section_title">
            <h1>Tanks</h1>
        </div>
        <div id="tank_leveling">
            <a href="paladin-leveling.html">
                <div id="paladin_leveling_cover">
                    <h1>Paladin </h1>
                </div>
            </a>
            <a href="warrior-leveling.html">
                <div id="warrior_leveling_cover">
                    <h1>Warrior </h1>
                </div>
            </a>
            <a href="dark-knight-leveling.html">
                <div id="dark_knight_leveling_cover">
                    <h1>Dark Knight </h1>
                </div>
            </a>
            <a href="gunbreaker-leveling.html">
                <div id="gunbreaker_leveling_cover">
                    <h1>Gunbreaker </h1>
                </div>
            </a>
        </div>
        <div id="section_title">
            <h1>Healers</h1>
        </div>
        <div id="healer_leveling">
            <a href="white-mage-leveling.html">
                <div id="white_mage_leveling_cover">
                    <h1>White Mage </h1>
                </div>
            </a>
            <a href="scholar-leveling.html">
                <div id="scholar_leveling_cover">
                    <h1>Scholar </h1>
                </div>
            </a>
            <a href="astrologian-leveling.html">
                <div id="astrologian_leveling_cover">
                    <h1>Astrologian </h1>
                </div>
            </a>
            <a href="sage-leveling.html">
                <div id="sage_leveling_cover">
                    <h1>Sage </h1>
                </div>
            </a>
        </div>
        <div id="section_title">
            <h1>Melee DPS</h1>
        </div>
        <div id="melee_dps_leveling">
            <a href="monk-leveling.html">
                <div id="monk_leveling_cover">
                    <h1>Monk </h1>
                </div>
            </a>
            <a href="dragoon-leveling.html">
                <div id="dragoon_leveling_cover">
                    <h1>Dragoon </h1>
                </div>
            </a>
            <a href="ninja-leveling.html">
                <div id="ninja_leveling_cover">
                    <h1>Ninja </h1>
                </div>
            </a>
            <a href="samurai-leveling.html">
                <div id="samurai_leveling_cover">
                    <h1>Samurai </h1>
                </div>
            </a>
            <a href="reaper-leveling.html">
                <div id="reaper_leveling_cover">
                    <h1>Reaper </h1>
                </div>
            </a>
            <a href="viper-leveling.html">
                <div id="viper_leveling_cover">
                    <h1>Viper </h1>
                </div>
            </a>
        </div>
        <div id="section_title">
            <h1>Physical Range DPS</h1>
        </div>
        <div id="physical_range_dps_leveling">
            <a href="bard-leveling.html">
                <div id="bard_leveling_cover">
                    <h1>Bard </h1>
                </div>
            </a>
            <a href="machinist-leveling.html">
                <div id="machinist_leveling_cover">
                    <h1>Machinist </h1>
                </div>
            </a>
            <a href="dancer-leveling.html">
                <div id="dancer_leveling_cover">
                    <h1>Dancer </h1>
                </div>
            </a>
        </div>
        <div id="section_title">
            <h1>Magic Range DPS</h1>
        </div>
        <div id="magic_range_dps_leveling">
            <a href="black-mage-leveling.html">
                <div id="black_mage_leveling_cover">
                    <h1>Black Mage</h1>
                </div>
            </a>
            <a href="summoner-leveling.html">
                <div id="summoner_leveling_cover">
                    <h1>Summoner</h1>
                </div>
            </a>
            <a href="red-mage-leveling.html">
                <div id="red_mage_leveling_cover">
                    <h1>Red Mage </h1>
                </div>
            </a>
            <a href="pictomancer-leveling.html">
                <div id="pictomancer_leveling_cover">
                    <h1>Pictomancer </h1>
                </div>
            </a>
            <a href="blue-mage-leveling.html">
                <div id="blue_mage_leveling_cover">
                    <h1>Blue Mage </h1>
                </div>
            </a>
        </div>
    </div>
</div>


{% endblock %}
