{% extends "base.html"%}

{% block content %}
<div id="center-content-jl">
    <div id="toc">
        <h2>Table of Contents</h2>
        <ul>
            <li><a href="#tank_leveling">Tanks</a></li>
            <li><a href="#healer_leveling">Healers</a></li>
            <li><a href="#melee_dps_leveling">Melee DPS</a></li>
            <li><a href="#physical_range_dps_leveling">Physical Range DPS</a></li>
            <li><a href="#magic_range_dps_leveling">Magic Range DPS</a></li>
        </ul>
    </div>

    <h1>Welcome to the job leveling page!</h1>
    <h2>Select any of the jobs listed bellow!</h2>


    <div id="leveling_covers">
        <div id="section_title">
            <h1>Tanks</h1>
        </div>
        <div id="tank_leveling">
            <a href="paladin-leveling.html">
                <div id="paladin_leveling_cover">
                    <h1>Paladin Leveling</h1>
                </div>
            </a>
            <a href="warrior-leveling.html">
                <div id="warrior_leveling_cover">
                    <h1>Warrior Leveling</h1>
                </div>
            </a>
            <a href="dark-knight-leveling.html">
                <div id="dark_knight_leveling_cover">
                    <h1>Dark Knight Leveling</h1>
                </div>
            </a>
            <a href="gunbreaker-leveling.html">
                <div id="gunbreaker_leveling_cover">
                    <h1>Gunbreaker Leveling</h1>
                </div>
            </a>
        </div>
        <div id="section_title">
            <h1>Healers</h1>
        </div>
        <div id="healer_leveling">
            <a href="white-mage-leveling.html">
                <div id="white_mage_leveling_cover">
                    <h1>White Mage Leveling</h1>
                </div>
            </a>
            <a href="scholar-leveling.html">
                <div id="scholar_leveling_cover">
                    <h1>Scholar Leveling</h1>
                </div>
            </a>
            <a href="astrologian-leveling.html">
                <div id="astrologian_leveling_cover">
                    <h1>Astrologian Leveling</h1>
                </div>
            </a>
            <a href="sage-leveling.html">
                <div id="sage_leveling_cover">
                    <h1>Sage Leveling</h1>
                </div>
            </a>
        </div>
        <div id="section_title">
            <h1>Melee DPS</h1>
        </div>
        <div id="melee_dps_leveling">
            <a href="monk-leveling.html">
                <div id="monk_leveling_cover">
                    <h1>Monk Leveling</h1>
                </div>
            </a>
            <a href="dragoon-leveling.html">
                <div id="dragoon_leveling_cover">
                    <h1>Dragoon Leveling</h1>
                </div>
            </a>
            <a href="ninja-leveling.html">
                <div id="ninja_leveling_cover">
                    <h1>Ninja Leveling</h1>
                </div>
            </a>
            <a href="samurai-leveling.html">
                <div id="samurai_leveling_cover">
                    <h1>Samurai Leveling</h1>
                </div>
            </a>
            <a href="reaper-leveling.html">
                <div id="reaper_leveling_cover">
                    <h1>Reaper Leveling</h1>
                </div>
            </a>
            <a href="viper-leveling.html">
                <div id="viper_leveling_cover">
                    <h1>Viper Leveling</h1>
                </div>
            </a>
        </div>
        <div id="section_title">
            <h1>Physical Range DPS</h1>
        </div>
        <div id="physical_range_dps_leveling">
            <a href="bard-leveling.html">
                <div id="bard_leveling_cover">
                    <h1>Bard Leveling</h1>
                </div>
            </a>
            <a href="machinist-leveling.html">
                <div id="machinist_leveling_cover">
                    <h1>Machinist Leveling</h1>
                </div>
            </a>
            <a href="dancer-leveling.html">
                <div id="dancer_leveling_cover">
                    <h1>Dancer Leveling</h1>
                </div>
            </a>
        </div>
        <div id="section_title">
            <h1>Magic Range DPS</h1>
        </div>
        <div id="magic_range_dps_leveling">
            <a href="black-mage-leveling.html">
                <div id="black_mage_leveling_cover">
                    <h1>Black Mage Leveling</h1>
                </div>
            </a>
            <a href="summoner-leveling.html">
                <div id="summoner_leveling_cover">
                    <h1>Summoner Leveling</h1>
                </div>
            </a>
            <a href="red-mage-leveling.html">
                <div id="red_mage_leveling_cover">
                    <h1>Red Mage Leveling</h1>
                </div>
            </a>
            <a href="pictomancer-leveling.html">
                <div id="pictomancer_leveling_cover">
                    <h1>Pictomancer Leveling</h1>
                </div>
            </a>
            <a href="blue-mage-leveling.html">
                <div id="blue_mage_leveling_cover">
                    <h1>Blue Mage Leveling</h1>
                </div>
            </a>
        </div>
    </div>
</div>

{% endblock %}