{% extends "base.html"%}

{% block content %}

<div id="center-content">

    <div id="toc">
        <h2>Table of Contents</h2>
        <ul>
            <li><a href="#section0">Getting Started </a></li>
            <li><a href="#section1">Sastasha </a></li>
            <li><a href="#section2">The Tam-Tara Deepcroft </a></li>
            <li><a href="#section3">The Copperbell Mines </a></li>
            <li><a href="#section4">Halatalii </a></li>
            <li><a href="#section5">Haukke Manor </a></li>
            <li><a href="#section6">Brayflox's Longstopp </a></li>
            <li><a href="#section7">The Sunken Temple of Qarn </a></li>
            <li><a href="#section8">Cutter's Cry </a></li>
            <li><a href="#section9">The Stone Vigil </a></li>
            <li><a href="#section10">Castrum Merdianum </a></li>
        </ul>
    </div>

    <h1 id="section0">Getting Started</h1>
    <p>Before getting started this guide is to help you get an idea how to tank and to get over any possible tank anxiety.</p>
    <p>This guide will only cover ARR as after finishing ARR you will have an idea of how to pull etc!</p>
    <h2>They Key</h2>
    <img src="images/tank_pull_key.png">

    <h1 id="section1">Sastasha</h1>
    <div id="tank_pulls">
        <img src="images/sastasha_1.png">
        <img src="images/sastasha_2.png">
    </div>

    <h1 id="section2">The Tam-Tara Deepcroft</h1>
    <div id="tank_pulls">
        <img src="images/tam-tara_1.png">
        <img src="images/tam-tara_2.png">
        <img src="images/tam-tara_3.png">
    </div>

    <h1 id="section3">The Copperbell Mines</h1>
    <div id="tank_pulls">
        <img src="images/copperbell_1.png">
        <img src="images/copperbell_2.png">
        <img src="images/copperbell_3.png">
    </div>

    <h1 id="section4">Halatalii</h1>
    <div id="tank_pulls">
        <img src="images/haltali.png">
    </div>

    <h1 id="section5">Haukke Manor</h1>
    <div id="tank_pulls">
        <img src="images/haukke_1.png">
        <img src="images/haukke_2.png">
        <img src="images/haukke_3.png">
    </div>

    <h1 id="section6">Brayflox's Longstopp</h1>
    <div id="tank_pulls">
        <img src="images/brayflox.png">
    </div>

    <h1 id="section7">The Sunken Temple of Qarn</h1>
    <div id="tank_pulls">
        <img src="images/sunken_1.png">
        <img src="images/sunken_2.png">
        <img src="images/sunken_3.png">
    </div>

    <h1 id="section8">Cutter's Cry</h1>
    <div id="tank_pulls">
        <img src="images/cutter_1.png">
        <img src="images/cutter_2.png">
        <img src="images/cutter_3.png">
    </div>

    <h1 id="section9">The Stone Vigil</h1>
    <div id="tank_pulls">
        <img src="images/stonevigil.png">
    </div>

    <h1 id="section10">Castrum Merdianum</h1>
    <div id="tank_pulls">
        <img src="images/castrum.png">
    </div>
</div>

{% endblock %}