{% extends "base.html"%}

{% block title %}Tank Pulling Guide | The Aeloria Codex{% endblock %}
{% block description %}A comprehensive guide for tank pulling for A Realm Reborn (ARR) in Final Fantasy XIV.{% endblock %}
{% block keywords %}FFXIV, leveling, guide, job, tank, pulling, Final Fantasy 14, gunbreaker, gun, breaker, paladin, warriror, war, pld, dark, knight, darkknight, drk{% endblock %}

{% block content %}

<div id="center-content">

    <div id="toc">
        <h2>Table of Contents</h2>
        <ul>
            <li><a href="#section0">Getting Started </a></li>
            <li><a href="#section1">Sastasha </a></li>
            <li><a href="#section2">The Tam-Tara Deepcroft </a></li>
            <li><a href="#section3">The Copperbell Mines </a></li>
            <li><a href="#section4">Halatalii </a></li>
            <li><a href="#section5">Haukke Manor </a></li>
            <li><a href="#section6">Brayflox's Longstopp </a></li>
            <li><a href="#section7">The Sunken Temple of Qarn </a></li>
            <li><a href="#section8">Cutter's Cry </a></li>
            <li><a href="#section9">The Stone Vigil </a></li>
            <li><a href="#section10">Castrum Merdianum </a></li>
        </ul>
    </div>

    <h1 id="section0">Getting Started</h1>
    <p>Before getting started this guide is to help you get an idea how to tank and to get over any possible tank anxiety.</p>
    <p>This guide will only cover ARR as after finishing ARR you will have an idea of how to pull etc!</p>
    <h2>They Key</h2>
    <img src="images/tank_pulling_maps/tank_pull_key.png">

    <h1 id="section1">Sastasha</h1>
    <div id="tank_pulls">
        <img src="images/tank_pulling_maps/sastasha_1.png">
        <img src="images/tank_pulling_maps/sastasha_2.png">
    </div>

    <h1 id="section2">The Tam-Tara Deepcroft</h1>
    <div id="tank_pulls">
        <img src="images/tank_pulling_maps/tam-tara_1.png">
        <img src="images/tank_pulling_maps/tam-tara_2.png">
        <img src="images/tank_pulling_maps/tam-tara_3.png">
    </div>

    <h1 id="section3">The Copperbell Mines</h1>
    <div id="tank_pulls">
        <img src="images/tank_pulling_maps/copperbell_1.png">
        <img src="images/tank_pulling_maps/copperbell_2.png">
        <img src="images/tank_pulling_maps/copperbell_3.png">
    </div>

    <h1 id="section4">Halatalii</h1>
    <div id="tank_pulls">
        <img src="images/tank_pulling_maps/haltali.png">
    </div>

    <h1 id="section5">Haukke Manor</h1>
    <div id="tank_pulls">
        <img src="images/tank_pulling_maps/haukke_1.png">
        <img src="images/tank_pulling_maps/haukke_2.png">
        <img src="images/tank_pulling_maps/haukke_3.png">
    </div>

    <h1 id="section6">Brayflox's Longstopp</h1>
    <div id="tank_pulls">
        <img src="images/tank_pulling_maps/brayflox.png">
    </div>

    <h1 id="section7">The Sunken Temple of Qarn</h1>
    <div id="tank_pulls">
        <img src="images/tank_pulling_maps/sunken_1.png">
        <img src="images/tank_pulling_maps/sunken_2.png">
        <img src="images/tank_pulling_maps/sunken_3.png">
    </div>

    <h1 id="section8">Cutter's Cry</h1>
    <div id="tank_pulls">
        <img src="images/tank_pulling_maps/cutter_1.png">
        <img src="images/tank_pulling_maps/cutter_2.png">
        <img src="images/tank_pulling_maps/cutter_3.png">
    </div>

    <h1 id="section9">The Stone Vigil</h1>
    <div id="tank_pulls">
        <img src="images/tank_pulling_maps/stonevigil.png">
    </div>

    <h1 id="section10">Castrum Merdianum</h1>
    <div id="tank_pulls">
        <img src="images/tank_pulling_maps/castrum.png">
    </div>
</div>

{% endblock %}